:root {
    --asp-color-black: #000;
    --asp-color-white: #fff;
    --asp-color-one: #f6ac8f;
    --asp-color-one-rgb: 246, 172, 143;
    --asp-color-two: #75c6af;
    --asp-color-two-rgb: 117, 198, 175;
    --asp-color-three: #0e7457d9;
}

#asp-ext {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 1000;
    width: auto;
    height: 100vh;
    overflow: auto;
    background: rgba(var(--asp-color-two-rgb), .85);
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.asp-ext__header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--asp-color-three);
}

.asp-ext__header__logo {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-color: var(--asp-color-white);
    transition: all .3 ease;
}

.asp-ext__header__close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: var(--asp-color-white);
    color: black;
    cursor: pointer;
    transition: all .3 ease;
}

.asp-ext__header__close:hover {
    color: var(--asp-color-white);
    background: var(--asp-color-one);
}

.asp-ext__title {
    color: var(--asp-color-white);
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.asp-ext__items {
    padding: 0;
    transition: all .3 ease;
}

.asp-ext__items:hover > .asp-ext__items__item {
    opacity: .7;
}

.asp-ext__items__item {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
    margin: 10px 0;
    border-radius: 5px;
    background: var(--asp-color-white);
    font-size: 12px;
    transition: all .3 ease;
}

.asp-ext__items__item:hover {
    opacity: 1!important;
}

.asp-ext__items__item__link,
.asp-ext__items__item__text {
    display: flex;
    align-items: center;
    color: var(--asp-color-black);
}

.asp-ext__items__item__link:hover {
    color: var(--asp-color-black);
}

.asp-ext__items__item__link span,
.asp-ext__items__item__text span {
    align-self: normal;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    background: var(--asp-color-one);
    border-right: 1px solid rgba(var(--asp-color-one-rgb), .5);
    color: var(--asp-color-black);
    transition: all .3 ease;
}

.asp-ext__items__item__link p,
.asp-ext__items__item__text p {
    white-space: pre;
    padding: 5px 0;
}