#asp-ext {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 1000;
    width: auto;
    height: 100vh;
    overflow: auto;
    background: rgba(117, 198, 175, .85);
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.asp-ext__header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #0e7457d9;
}

.asp-ext__header__logo {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-color: white;
    transition: all .3 ease;
}

.asp-ext__header__close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: white;
    color: black;
    cursor: pointer;
    transition: all .3 ease;
}

.asp-ext__header__close:hover {
    color: white;
    background: #f6ac8f;
}

#asp-ext h4 {
    color: white;
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
}

.asp-ext__items {
    padding: 0;
    transition: all .3 ease;
}

.asp-ext__items:hover > .asp-ext__items__item {
    opacity: .7;
}

.asp-ext__items__item {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
    margin: 10px 0;
    border-radius: 5px;
    background: #fff;
    font-size: 12px;
    transition: all .3 ease;
}

.asp-ext__items__item:hover {
    opacity: 1!important;
}

.asp-ext__items__item__link {
    color: #000;
}

.asp-ext__items__item__link:hover {
    color: #000;
}

.asp-ext__items__item__link span {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
/*     width: 100%;
    max-width: 135px; */
    background: #f6ac8f;
    border-right: 1px solid #d49881;
    color: #000;
    transition: all .3 ease;
}